/* RESET =====================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.image-header {
    width: 100%;
    height: auto;
}

/* VARIABLES =====================================*/
/* Com as variáveis é possível mudar o atributo de varias tags na página ao mesmo tempo */
:root {
    /* Variáveis para aplicação das cores aos conteúdos */

    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%); 
    --text-color: hsl(0 0% 46%); 
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
}

/* BASE =====================================*/
.body {
    font:400 1rem "DM Sans", sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
}

main {
    color:var(--text-color)
}

h2 {
    font: 700 1.875rem "Poppins", sans-serif;
    color: var(--title-color);
}


/* layout =====================================*/
.content-header {
    height: 4.5rem; /* 72(altura)/16(largura) = 4.5(rem) */

}

.container {
    width: 100%;
    margin: 0 1.5rem;
}


nav {
    display: flex;  /* habilita ao box pai alinhar os filhos */
    justify-content: space-between; /* cria um espaço entre os box filhos */
}